<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.5.js"></script>
   <script>
      function countChar(val) {
        var len = val.value.length;
        if (len >= 200) {
          val.value = val.value.substring(0, 200);
        } else {
          $('#charNum').text(200 - len);
        }
      };
      </script>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 style="color:blue;">Yelp Reviews</h1><br>
<div style="font-size:16px;">
<form  action='/review' message="get">
<div id="hide">
<input type="text" name="username" placeholder="username"></input>
<input type="password" name="password" placeholder="password"></input><br>
<div style="font-size:12px;color:red"><%= error %></div><br><br>
</div>
<b>Provide the reviews for <span style="text-transform:capitalize;"><%= placename %></span>  </b>
<input type="radio" name="score" value="1">1</input>
<input type="radio" name="score" value="2">2</input>
<input type="radio" name="score" value="3">3</input>
<input type="radio" name="score" value="4">4</input>
<input type="radio" name="score" value="5">5</input><br><br>
<textarea id="comments" name="comments" cols="50" rows="5" onkeyup="countChar(this)">
Enter your comments here...
</textarea><br>
<div id="charNum"></div>
<input type='hidden' value=<%= placeid %> name="placeid">
<input type='submit' value='submit'><br><br>
</form>
</div>
<script>
if(<%= username %>){	
	var div1=document.getElementById('hide');
	div1.style.visibility='hidden';
	}
</script>


<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<table  br=1  border:2px style="width:80%">

<% if (results.length) { %>
<tr style="height:50px"><th>Review</th><th>Comments</th></tr>
<% results.forEach(function(result) { %>
<tr>
<td id="score" style="text-align:center;"><%= result.score %></td>
<td style="text-align:center;"><%= result.comments %></td>
</tr>
<% }) %>
<% } else { %>
<br>No records found
<% }  %>

</table>

</body>
</html>